PROJECT_NAME=E-Commerce API
APP_VERSION=0.1.0
DEBUG=true
API_V1_PREFIX=/api/v1
AUTO_CREATE_TABLES=false
DB_SCHEMA=ecommerce
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password
POSTGRES_DB=ecommerce
SECRET_KEY=change-this-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
REDIS_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
ELASTICSEARCH_URL=http://elasticsearch:9200
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000","http://146.56.141.120:3000"]
